Flask
python-dotenv
Flask-Cors
Flask-SQLAlchemy
Flask-Security-Too
Flask-RESTful
email-validator
bcrypt
argon2-cffi
celery
redis
flask-caching
requests
faker
openai
pinecone
elevenlabs
google-generativeai
gunicorn
psycopg2-binary
graphene
pytest
pytest-mock
prometheus-client